---
import Technologies from '@components/sections/Technologies.astro'
---
<figure class="relative mb-6">
  <img
    class="w-full bg-cover aspect-auto block m-auto rounded-full"
    src="/avatar.webp"
    alt="Xurxo González Tenreiro Developer"
  />
  <figcaption class="absolute bottom-1 w-full text-center text-xs">Xurxo González Tenreiro</figcaption>
</figure>
<div class="grid gap-4">
  <section>
    <h2 class="subtitle pb-2" id="tecnologias">Tecnologías</h2>
    <Technologies />
  </section>
</div>