---
import Technologies from '@components/sections/Technologies.astro'
---
<figure class="relative mb-6">
  <img
    width="200"
    height="200"
    class="w-full bg-cover aspect-auto block m-auto rounded-full"
    src="/avatar.webp"
    alt="Xurxo González Tenreiro Developer"
  />
  <figcaption class="absolute bottom-1 w-full text-center text-xs">Xurxo González Tenreiro</figcaption>
</figure>
<div class="grid gap-4">
  <section>
    <h2 class="subtitle pb-2" id="tecnologias">Tecnologías</h2>
    <Technologies />
  </section>
  <aside>
    <h2 class="subtitle pb-2" id="proyectos">Proyectos</h2>
      <ul class="max-w-md space-y-1 text-sm text-gray-500 list-inside dark:text-gray-400">
        <li class="flex items-center">
          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
          <a class="text-text dark:text-text-dark no-underline hover:underline" target="_blank" rel="noreferrer noopener" href="https://pactoempregosantiago.org/">Página de Pacto polo emprego de Santiago</a>
        </li>
        <li class="flex items-center">
          <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
          <a class="text-text dark:text-text-dark no-underline hover:underline" target="_blank" rel="noreferrer noopener" href="https://github.com/webferrol/tic-tac-toe-react-ts">Tic tac toe React</a>
        </li>
      </ul>
  </aside>
</div>