---
import { BasicList, SubHeading } from "../../components"
import MainLayout from "../../layouts/TheMainLayout.astro"
import type { GetStaticPaths } from "astro"

interface Frontmatter {
  tags: string[]
  title: string
  // Agrega otras propiedades de frontmatter según sea necesario
}

interface Post {
  frontmatter: Frontmatter
  url: string
  // Agrega otras propiedades del post según sea necesario
}

interface Props {
  posts: Post[]
}

// (alias) type GetStaticPaths = (options: GetStaticPathsOptions) => Promise<GetStaticPathsResult> | GetStaticPathsResult

export const getStaticPaths: GetStaticPaths = async () => {
  const allPosts = await Astro.glob("../posts/*.md")

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<MainLayout
  title={tag}
  description='Palabras clave de las diferentes publicaciones'
>
  <main class='p-5 text-text dark:text-text-dark'>
    <SubHeading>
      Entradas <strong>etiquetadas</strong> con <strong>{tag}</strong>
    </SubHeading>
    <ul>
      {
        posts.map((post) => (
          <BasicList title={post.frontmatter.title} url={post.url} />
        ))
      }
    </ul>
  </main>
</MainLayout>
