---
import MainLayout from "../layouts/TheMainLayout.astro"
import { BasicListItem, SubHeading } from "../components"

const allPosts = await Astro.glob("./posts/*.md")
---

<MainLayout
  title='Publicaciones sobre programación'
  description='React, javascript, css, html.'
>
  <main class='p-5 text-text dark:text-text-dark'>
    <SubHeading class='mt-5'>Entradas</SubHeading>
    <ul class='space-y-4'>
      {
        allPosts.map(post => {
          return (
            <BasicListItem title={post.frontmatter.title} url={post.url}/>
          )
        })
      }
    </ul>
  </main>
</MainLayout>
