---
import { AboutMe, TheCard, TheHeader, Experience } from '../components'
import { ArrowUp } from '../icons';
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="WebFerrol: programación y diseño web"
  description="Educador vocacional que le encanta la programación y diseño web"
>
  <TheHeader />

  <main class="flex flex-col sm:gap-5 sm:flex-row p-6 max-w-6xl m-auto" id="top">
    <aside
      class="flex flex-col items-start justify-start sm:items-center gap-4 sm:w-2/4 w-auto"    >
		<TheCard class="sticky top-2">
			<AboutMe />	
		</TheCard>
    </aside>

    <section class="grid gap-8 w-full mt-10">
      <TheCard title="Programador y diseñador web.">
        <header>
          <p class="text-pretty">
            <strong class="text-yellow-400/70">Informático</strong> y <strong
              class="text-yellow-400/70">programador</strong
            > Entusiasta de la <mark class="text-yellow-400/70 font-thin bg-transparent">divulgación</mark>, <mark class="text-yellow-400/70 font-thin bg-transparent">educación</mark> y <mark class="text-yellow-400/70 font-thin bg-transparent">formación</mark> en el
            desarrollo de <strong class="text-yellow-400/70"
              >aplicaciones web</strong
            >.
          </p>
        </header>
      </TheCard>
	  <TheCard title='Experiencia laboral'>
		  <Experience />
	  </TheCard>
	  <a href="#top" class="fixed bottom-5 right-5">
		<ArrowUp class="hover:text-blue-400 hover:scale-150 transition"/>
	  </a>
    </section>
  </main>

</Layout>
