---
import TheHeader from '../components/TheHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Xurxo web developer">
	<main class="max-w-5xl m-auto p-2">
		<TheHeader />
	</main>
</Layout>

