---
import MainLayout from "@/layouts/TheLayout.astro"
import AboutMe from "@sections/AboutMe.astro"
import Experience from "@components/Experience.astro"
import TheCard from "@components/ui/TheCard.astro"
// import { LanguageExperience } from "@/components/LanguagesExperience"
---

<MainLayout
  title='WebFerrol: programación y diseño web'
>
  <main class='flex flex-col sm:gap-10 sm:flex-row p-6 max-w-6xl m-auto'>
    <aside
      class='flex flex-col justify-start items-center gap-4 sm:w-2/4 w-auto'
    >
      <div class='sticky top-2'>
        <AboutMe />
      </div>
    </aside>

    <div class='grid gap-8 w-full mt-10'>
      <TheCard title='Experiencia laboral'>
        <Experience />
      </TheCard>
    </div>
  </main>
</MainLayout>
