---
import { SubHeading } from "../components";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = await Astro.glob('./posts/sessions/*.md')

---

<MainLayout title="Sesiones de clase" description="React, javascript, css, html. Sesiones preparadas de clase">
  <article class="p-5">
    <SubHeading class="mt-5">
      Sesiones de clase
    </SubHeading>
    <ul>
      {
        allPosts.map( post => {
          return (
            <li>
             <a class="text-link hover:text-highlighted dark:text-link-dark dark:hover:text-highlighted-dark" href={post.url}>{post.frontmatter.title}</a>
            </li>)
        })
      }
    </ul>
  </article>
</MainLayout>