---
interface Props {
  title?: string,
  class?: string
}

const { title, class: className = '' } = Astro.props
---

<article
  class={`${className}`}
>
  {
    title && <h2 class="text-subheading dark:text-subheading-dark font-bold text-balance text-lg pb-2">{title}</h2>
  }
    <slot />
</article>
