<header class="flex  justify-between items-center p-3 border-b border-gray-700 bg-bg-header m-0">
  <h1>Web Developer</h1>
  <img class="w-10 h-10 rounded" src="/favicon.ico" alt="Xurxo González Tenreiro, web developer" title="Web Developer">
</header>