---
import ThemeIcon from "./ThemeIcon.astro";
import School from '../icons/School.astro'

---

<header class="relative flex justify-between items-center p-3 bg-slate-400/25 dark:bg-zinc-900">
  <nav>
    <h1 class="text-2xl font-semibold whitespace-nowrap"><a href="/">Web Developer Portfolio</a></h1>
    <ul class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <li>
        <a class="flex items-center space-x-3 rtl:space-x-reverse text-link hover:text-highlighted dark:text-link-dark dark:hover:text-highlighted-dark" href="/sessions/">
          <School />
          <span class="inline-bock py-2">Sesiones</span>
        </a>
      </li>
    </ul>
  </nav>
  <ThemeIcon />
</header>