---
import ThemeIcon from "./ThemeIcon.astro";

---

<header class="relative flex justify-between items-center p-3 bg-slate-400/25 dark:bg-zinc-900">
  <h1>Web Developer</h1>
  <ThemeIcon />
</header>