---
import ThemeIcon from "./ThemeIcon.astro";

---

<header class="relative flex justify-between items-center p-3 bg-light-bg-header dark:bg-dark-bg-header text-light-heading-header dark:text-dark-heading-header">
  <h1>Web Developer</h1>
  <ThemeIcon />
</header>