<article class="relative border-y-2 border-black">
  <button class="group p-[20px] ml-14 flex">
    <div
      class="-z-10 absolute left-0 h-full w-[60px] bg-[#BBF7D0] sm:group-hover:w-full transition-all duration-1000 ease-in-out"
    >
    </div>
    <div class="py-8">
      <h2
        class="mb-2 text-left uppercase text-4xl text-highlighted sm:group-hover:dark:text-highlighted dark:text-subheading-dark font-bold group-hover:translate-x-8 duration-1000 ease-in-out transition-transform"
      >
        Programador y diseñador web.
      </h2>
      <h3
        class="uppercase text-2xl text-left sm:group-hover:opacity-0 transition-opacity duration-1000 ease-in-out"
      >
        <strong class="text-highlighted dark:text-highlighted-dark"
          >Informático</strong
        > y <strong class="text-highlighted dark:text-highlighted-dark"
          >programador</strong
        >. Entusiasta de la <mark
          class="text-highlighted dark:text-highlighted-dark font-thin bg-transparent"
          >divulgación</mark
        >, <mark
          class="text-highlighted dark:text-highlighted-dark font-thin bg-transparent"
          >educación</mark
        > y <mark
          class="text-highlighted dark:text-highlighted-dark font-thin bg-transparent"
          >formación</mark
        > en el desarrollo de <strong
          class="text-highlighted dark:text-highlighted-dark"
          >aplicaciones web</strong
        >.
      </h3>
    </div>
  </button>
</article>
