---
import AstroIcon from "@/icons/AstroIcon.astro";
import CSS3 from "@/icons/CSS3.astro";
import HTML5 from "@/icons/HTML5.astro";
import JavaScript from "@/icons/JavaScript.astro";
import Preact from "@/icons/Preact.astro";
---

<ul aria-labelledby="tecnologias" class="flex items-center flex-wrap content-start gap-2">
  <li>
    <HTML5 class="w-9 h-9" aria-label="HTML5" />
  </li>
  <li>
    <CSS3 class="w-9 h-9" aria-label="CSS3" />
  </li>
  <li>
    <JavaScript class="w-9 h-9" aria-label="JavaScript" />
  </li>
  <li>
    <AstroIcon class="w-9 h-9" aria-label="Astro" />
  </li>
  <li>
    <Preact class="w-9 h-9" aria-label="Preact"/>
  </li>
</ul>