---
import LinkedIn from '@icons/LinkedIn.astro'
import WordPress from '@/icons/WordPress.astro'
import UpLink from '@components/ui/UpLink.astro'
---
<footer class="border-gray-200  bg-slate-400/25 dark:bg-zinc-900 p-2">
    <nav aria-label="Redes Sociales" class="flex flex-wrap gap-2">
      <a title="Sígueme en LinkedIn" href="https://www.linkedin.com/in/webferrol" rel="noreferrer noopener" target="_blank" >
        <strong class="bg-bg dark:bg-bg-dark text-text dark:text-text-dark">LinkedIn</strong>
        <LinkedIn aria-label="Sígueme en LinkedIn" class="w-5 h-5 text-[#0A66C2] hover:text-current" />
      </a>
      <a title="Sígueme" href="/entries" >
        <strong class="bg-bg dark:bg-bg-dark text-text dark:text-text-dark">Blog</strong>
        <WordPress aria-label="Mis publicaciones" class="w-5 h-5 text-[#0A66C2] hover:text-current" />
      </a>
    </nav>
		<UpLink class="fixed z-50 bottom-1 right-5" />		
	</div>
</footer>

<style>
  strong {
    position: absolute;
    left: -9999px;
  }
</style>
