:root {
  --global-body-size: clamp(
    1em, 
    calc(2 / 72 * 100vw), 
    1.6em
  );

  --global-h1-size: clamp(
    1.6em, 
    calc(3 / 72 * 100vw), 
    3em
  );

  --global-h2-size: clamp(
    1.4em, 
    calc(2.4 / 72 * 100vw), 
    2.4em
  );

  --global-h3-size: clamp(
    1.2em, 
    calc(2.2 / 72 * 100vw), 
    2.2em
  );

  --global-h4-size: clamp(
    1.1em, 
    calc(1.8 / 72 * 100vw), 
    1.8em
  );

  
  
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media screen {
  .mark-down {
    font-size: var(--global-body-size);
    margin: 0 auto;
    max-width: 60rem;
  }
}


.retro-no-decoration {
  text-decoration: none;
}

p,
.retro-p {
  margin-bottom: 1.3rem;
  text-wrap: pretty;
  line-height: 2;
  font-size: inherit;
}

h1,
.retro-h1,
h2,
.retro-h2,
h3,
.retro-h3,
h4,
.retro-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
  text-wrap: balance;
}

h1,
.retro-h1 {
  margin-top: 0;
  font-size: var(--global-h1-size);
}

h2,
.retro-h2 {
  font-size: var(--global-h2-size);
}

h3,
.retro-h3 {
  font-size: var(--global-h3-size);
}

h4,
.retro-h4 {
  font-size: var(--global-h4-size);
}


small,
.retro-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}



body {
  color: #fafafa;
  line-height: 1.45;
}

pre {
  background-color: #333;
}

blockquote {
  border-left: 3px solid #01ff70;
  padding-left: 1rem;
}