---
import { ViewTransitions } from 'astro:transitions'
import { LoadTheme, Navbar, UpLink } from '../components'
import { urlBase } from '../constants'
import '../styles/global.css'
import '../styles/custom.css'
import '@fontsource/onest/400.css'
import '@fontsource/onest/700.css'

interface Props {
  title?: string | number
  description?: string
  ogImage?: string
}

const { title, description = 'WebFerrol: Dise침ador web, SEO, imagen corporativa y divugador en el 치mbito de la programaci칩n web sobre todo en el 치mbito de HTML, CSS y JavaScript', ogImage } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={`${title}`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage ?? urlBase + 'avatar.webp'} />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
    <ViewTransitions />
    <script>
      const theme = localStorage.getItem('theme') || 'light'
      document.documentElement.classList.add(theme)
    </script>
  </head>
  <body id="top" class="bg-bg dark:bg-bg-dark text-text dark:text-text-dark">
    <Navbar />
    <slot />
    <div class='flex items-center gap-4 fixed z-50 bottom-5 right-5'>
      <UpLink />
      <LoadTheme client:only/>
    </div>
  </body>
</html>