---
interface Props {
  title: string
  url?: string
}
const { title, url } = Astro.props
---

<li class='flex items-center space-x-3 rtl:space-x-reverse'>
  <svg
    class='flex-shrink-0 w-3.5 h-3.5 text-green-500 dark:text-green-400'
    aria-hidden='true'
    xmlns='http://www.w3.org/2000/svg'
    fill='none'
    viewBox='0 0 16 12'
  >
    <path
      stroke='currentColor'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-width='2'
      d='M1 5.917 5.724 10.5 15 1.5'></path>
  </svg>
  {
    url ? (
      <a class='text-link hover:underline dark:text-link-dark' href={url}>
        {title}
      </a>
    ) : (
      title
    )
  }
</li>
