---
interface Props {
    title?: string
}
const { title = 'Bento'} = Astro.props
---
<section
    aria-label={title}
    class="grid grid-cols-10 auto-rows-[20rem] gap-4 max-w-[1140px] mx-auto text-white">
    <slot />
</section>